<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cool Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.2" />
<!-- TEMPLATE -->
    </head>
    <body>
        <h1>GitWebSee - Git Web Frontend</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/repo">Repo</a></li>
            </ul>
    </nav>
<!-- TEMPLATE -->
    </body>
</html>
